{% extends "layout.njk" %}

{% block content %}
    <div class="todos">
        <input type="text">
        <button><i class="material-icons">add</i></button>
    </div>

    <div class="insta">
        <div class="insta-content">hhhh</div>
    </div>
{% endblock content %}