<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>TODO App</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
<html>